body {
    background-color:gray;
}

header h1 {
    color: darkorange;
    margin-left: 25px;
}

img {
    max-width: 100%;
    height: 200px;
    float: none;
}

h2 {
    margin-left: 50px;
    color: darkorange;
}


main h1 {
    clear: both;
}

ol {
    background-color: orange;
    margin-left: 50px;
    padding-right: 25px;
    color: gray;
}

p {
    margin-left: 25px;
}


footer {
    text-align: center;
    clear: both;
}