body {
    background-image: linear-gradient(#aeaeae, #222222);
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main h1 {
    clear: both;
}

p {
    margin-left: 50px;
}

h2 {
    margin-left: 50px;
    color: #FF7A00;
}

ol {
    margin-left: 50px;
    list-style: none;
}

footer {
    text-align: center;
    clear: both;
}