body {
    background-image: url(C:\Users\ragam\OneDrive\Documents\Github_Files\my360photo.github.io\images\backgroud color.png)
}

header h1 {
    color: darkorange;
    margin-left: 25px;
}

img {
    max-width: 100%;
    height: 200px;
    float: none;
}

h2 {
    margin-left: 50px;
    color: darkorange;
}


main h1 {
    clear: both;
}

h2 {
    background-color: orange;
    margin-left: 50px;
    padding-right: 25px;
    color: gray;
}

p {
    margin-left: 25px;
}


footer {
    text-align: center;
    clear: both;
}